html {
    height: 100%;
    background-color: rgb(3, 26, 45);
}
body {
    background-color: rgb(3, 45, 38);
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /*border-left: solid black 5px;
    border-right: solid black 5px;*/
    
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    width: 70%;
    height: fit-content;
    max-height: 100%;
    flex-direction: column;
    
}
button {
    min-width: 40vh;
    width: fit-content;
    padding: 1vh;
    color: black;
    background-color: rgb(248, 229, 155);
    border-color: white;
    border-radius: 0.5vh;
    border-width: 0.5vh;
    font-size: 3vh;
    margin: 0.75vh;
}
button:hover {
    background-color: rgb(165, 149, 85);
    border-color: black;
    
}
button:active {
    min-width: 30vh;
    padding: 1vh;
    margin: 1.1vh; /*Stops the item above moving downward due to the button shrinking*/
    font-size: 2.5vh;
}
button:disabled {
    min-width: 40vh;
    width: fit-content;
    padding: 1vh;
    color: rgb(56, 56, 56);
    background-color: rgb(100, 95, 82);
    border-color: rgb(126, 126, 126);
    border-radius: 5px;
    border-width: 5px;
    font-size: 3vh;
    margin: 0.75vh;
}
h1 {
    text-align: center;
    font-size: 10vh;
    color: rgb(255, 237, 163);
    text-shadow: 0px 6px 1px black;
    margin: 5px;
    padding: 0px;
}
h2 {
    text-align: center;
    font-size: 7vh;
    color: rgb(237, 220, 152);
    text-shadow: 0px 6px 1px black;
    margin: 5px;
    padding: 0px;
}
h3 {
    text-align: center;
    font-size: 5vh;
    color: rgb(203, 189, 131);
    text-shadow: 0px 6px 1px black;
    margin: 5px;
    padding: 0px;
}
p, label {
    text-align: center;
    font-size: 3vh;
    color: rgb(171, 156, 97);
    text-shadow: 0px 6px 1px black;
    margin: 5px;
    padding: 0px;
}

input {
    display: flex;
    width: 20%;
    height: 5vh;
    background-color: rgb(9, 80, 68);
    color: rgb(203, 189, 131);
    font-size: 30px;
}

.center {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center; 
    align-items: center;
}

.bottom {
    display: flex;
    justify-self: flex-end;
    flex-grow: 1;
}
.thin {
    display: flex;
    align-self: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0%;
}
.span-screen-height {
    height: 90vh;
}
.span-height {
    height: 90%;
}

.span-screen-width {
    width: 90vh;
}
.span-width {
    width: 90%;
}

.blank {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
table {
    width: 35vh;
}

td {
    color: rgb(203, 189, 131);
    border: solid black 2px;
    font-size: 3vh;
    background-color: rgb(7, 44, 61);
    margin: 0px;
    padding: 5px;
}
th {
    color: rgb(203, 189, 131);
    border: solid black 2px;
    font-size: 4vh;
    background-color: rgb(7, 44, 61);
    margin: 0px;
    padding: 5px;
}

/*br class, NOT br element*/
.br {
    width: 100%;
    height: 4vh;
    padding: 0px;
    margin: 0px;
}

#high-score-highlighted {
    background-color: rgb(14, 100, 63);
}

.scroll-frame {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    justify-content: flex-start;
}

#q5Canvas0 {
    display: flex;
}
.q5Canvas {
    display: flex;
    position: relative;
}
.q5-normal {
    display: flex;
    width: 10vh;
    height: 10vh;
}
.has-border {
    border: solid black 5px;
}

.thin {
    width: 50%;
    border-left: black solid 10px;
    border-right: black solid 10px;
}